* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(130deg, rgb(10, 10, 10), rgb(230, 227, 227));
    height: 90px;
}

.navbar-brand {
    color: white;
    font-size: 2.5rem;
    cursor: default;
}

.offcanvas {
    background-color: rgb(230, 227, 227);
}

.offcanvas-title {
    font-size: 2.75rem;
    margin-bottom: -50px;
}

.nav-link {
    font-size: 1.3rem;
}

.nav-link:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.buffer {
    padding: 3.2%;
}

#welcome {
    background-image: url('./images/most_mem_bbpic.jpeg');
    height: 650px;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
}

#home {
    border-top: 15px solid black;
}

#intro {
    width: 50%;
    word-break: normal;
}

#about-start {
    margin-top: 75px;
}

#profile-pic {
    margin-bottom: 75px;
}

#prof-pic {
    width: 300px;
    height: 275px;
}

#resume {
    border-top: 15px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resume-start {
    margin-top: 75px;
}

#download-resume {
    margin-bottom: 75px;
}

#projects {
    border-top: 15px solid black;
}

#projects-start {
    margin-top: 75px;
}
