* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(130deg, rgb(73, 99, 218), rgb(236, 129, 6));
    height: 90px;
    opacity: 98%;
}

main {
    background: linear-gradient(130deg, rgb(73, 99, 218), rgb(236, 129, 6));  
}

.navbar-brand {
    font-size: 2.5rem;
    cursor: default;
}

.offcanvas {
    background-color: rgb(73, 99, 218);
}

.offcanvas-title {
    font-size: 2.75rem;
    margin-bottom: -50px;
}

.nav-link {
    font-size: 1.3rem;
}

.nav-link:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.buffer {
    padding: 3.2%;
}

#welcome {
    height: 650px;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
}

#home {
    border-top: 15px solid black;
}

#introContainer {
    opacity: 95%;
    border-radius: 15px;
}

#intro {
    border-radius: 15px;
    font-size: 5.5vw;
    background: -webkit-linear-gradient(310deg, rgb(73, 99, 218), rgb(236, 129, 6));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.75s steps(100) 0.5ms;
}

@keyframes typing {
    from { width: 0%; }
    to { width: 90%; }
}

#about-start {
    margin-top: 75px;
}

#final-par {
    margin-bottom: 50px;
}

#profile-pic {
    padding-bottom: 75px;
}

#prof-pic {
    width: 350px;
    height: 325px;
}

#resume {
    border-top: 15px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resume-start {
    margin-top: 75px;
}

#download-resume {
    margin-bottom: 75px;
    background-color: rgb(73, 99, 218);
}

#download-resume:hover {
    background-color: rgb(236, 129, 6);
}

#projects {
    border-top: 15px solid black;
}

#projects-start {
    margin-top: 75px;
}

#contact {
    border-top: 15px solid black;
}

#contact-start {
    margin-top: 75px;
}

.col {
    height: 100px;
}

i {
    font-size: 3rem;
    font-weight: bold;
}

.row {
    padding-top: 30px;
}

#email {
    text-decoration: none;
}

#email:hover {
    font-weight: bold;
    cursor: pointer;
}

#number:hover {
    font-weight: bold;
    cursor: pointer;
}

#my-contacts {
    padding-bottom: 50px;
}

footer {
    border-top: 15px solid rgb(66, 66, 66);
    border-bottom: 2px solid rgb(66, 66, 66);
    background-color: rgb(66, 66, 66);
}

#projectHeaderDark {
    color: white !important;
    text-decoration: underline;
}

#projectHeaderLight {
    text-decoration: underline;
}

#projectTextDark {
    color: white !important;
}

#project-img {
    height: 200px;
    width: 400px;
    border-radius: 15px;
}

#border {
    border-radius: 15px;
}