* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(130deg, rgb(73, 99, 218), rgb(236, 129, 6));
    height: 90px;
}

section {
    background: linear-gradient(130deg, rgb(73, 99, 218), rgb(236, 129, 6));   
}

.navbar-brand {
    font-size: 2.5rem;
    cursor: default;
}

.offcanvas {
    background-color: rgb(80, 80, 82);
}

.offcanvas-title {
    font-size: 2.75rem;
    margin-bottom: -50px;
}

.nav-link {
    font-size: 1.3rem;
}

.nav-link:hover {
    text-decoration: underline;
    font-weight: bolder;
}

.buffer {
    padding: 3.2%;
}

#welcome {
    background-image: url('./images/most_mem_bbpic.jpeg');
    height: 650px;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
}

#home {
    border-top: 15px solid black;
}

#intro {
    border-radius: 15px;
    font-size: 5vw;
    font-family: 'Permanent Marker', sans-serif;
    background: -webkit-linear-gradient(320deg, rgb(73, 99, 218), rgb(236, 129, 6));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.75s steps(100) 0.5ms;
}

@keyframes typing {
    from { width: 0%; }
    to { width: 90%; }
}

#about-start {
    margin-top: 75px;
}

#final-par {
    margin-bottom: 50px;
}

#profile-pic {
    padding-bottom: 75px;
}

#prof-pic {
    width: 300px;
    height: 275px;
}

#resume {
    border-top: 15px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resume-start {
    margin-top: 75px;
}

#download-resume {
    margin-bottom: 75px;
    background-color: rgb(73, 99, 218);
}

#projects {
    border-top: 15px solid black;
}

#projects-start {
    margin-top: 75px;
}
